.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

@media only screen and (max-device-width: 480px) {
  .Login {
    text-align: center;
  }
}

.Navigation-login {
  width: 100%;
}

.Login-form {
  width: 100%;
  alignment: center;
}

.Login-text {
  padding-bottom: 10px;
  opacity: 0.7;
}

.Login-title {
  margin: 10px;
  opacity: 1;
}

.Login-link {
  color: #24292e;
  opacity: 1;
}
