.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.App-main {
  flex: 1;
}

.App-content_large-header,
.App-content_small-header {
  margin-top: 94px;
}

@media only screen and (max-device-width: 480px) {
  .App-content_large-header {
    margin-top: 163px;
  }

  .App-content_small-header {
    margin-top: 98px;
  }
}
