.Button {
  height: 40px;
  padding: 10px;
  background: none;
  cursor: pointer;
  border-radius: 30px;
  transition: color 0.25s ease-in-out;
  transition: background 0.25s ease-in-out;
}

.Button_login {
  width: 100%;
  font-weight: bold;
  font-size: 1em;
  border: 1px solid dodgerblue;
  color: dodgerblue;
}

.Button_login:hover {
  width: 100%;
  color: white;
  background: dodgerblue;
}

.Button_white {
  border: 1px solid #fff;
  color: #fff;
}

.Button_white:hover {
  color: #000;
  background: #fff;
}

.Button_black {
  border: 1px solid #000;
  color: #000;
}

.Button_black:hover {
  color: #fff;
  background: #000;
}

.Button_unobtrusive {
  padding: 0;
  color: #000;
  background: none;
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
  outline: none;
}

.Button_unobtrusive:hover {
  opacity: 0.35;
}

.Button_unobtrusive:focus {
  outline: none;
}
