.Input {
  height: 40px;
  border: none;
  background: none;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 30px;
}

.Input:focus {
  outline: none;
}

.Input_white {
  border: 1px solid #fff;
  color: #fff;
}

.Input_black {
  border: 1px solid #000;
  color: #000;
}

.Input_login {
  padding-left: 18px;
  padding-right: 18px;
  border: 1px solid dodgerblue;
  color: dodgerblue;
  font-size: 1em;
}
